.container {
  padding: 0; /* Remove padding from container */
  margin: 0; /* Remove margin from container */
}

p {
  margin: 0; /* Remove margin from all p tags */
}

body {
  background-color: #333333; /* Dark charcoal grey */
  text-align: center;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  color:aliceblue;
}

.logo {
	height:400px;
	width:400px;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.form {
  background: #333333;
  padding: 16px;
  border-radius: 5px;
}

.button-container {
  text-align: center;
}

.homebuttons {
  background-color: royalblue;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  width:60px;
  height:40px;
  padding-right:40px;
  padding-left:40px;
  margin-right:40px;
  margin-left:40px;
}

.homebuttons:hover {
  background-color: darkblue;
}

.registerbtn {
  background-color: royalblue;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.registerbtn:hover {
  background-color: darkblue;
}

input[type="text"],
input[type="password"] {
    margin-top: 5px; /* Add space above the input */
    margin-bottom: 15px; /* Add space below the input */
    padding: 8px; /* Add padding inside the input */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

label {
    display: block; /* Make the label a block element */
    margin-top: 10px; /* Add space above the label */
}