.logo{ 
  width: 250px;
  height: 250px;
  display: block;
  margin: 20px auto; /* Center the logo horizontally */
  align-items: center;
}

body {
  background: radial-gradient(circle, rgb(75, 81, 165), rgb(9, 3, 92));
  color: aliceblue;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}
h2 {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 50px;
  font-size: 1.5em;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.radio-group {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-bottom: 20px;
}
.radio-group div {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 25px;
  margin-top:20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  cursor: pointer;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
  pointer-events: none; /* Prevent interference with clicks */
}

/* Add a class for the checked state */
.radio-group div.checked {
  background-color: #0b004d; /* Change to the desired color */
}

label {
  font-size: 1.2em;
  text-align: center; /* Center the label text */
  cursor: pointer;
}
button {
  background-color: #000322;
  border: none;
  color: #ffffff;
  padding: 25px;
  margin-top:20px;
  border-radius:10px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 20px;
  width:9.25%;
}
button:hover {
  background-color: #0b004d;
}

a.button {
  display: inline-block;
  background-color: #000322;
  color: #ffffff;
  padding: 15px 30px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 1.2em;
  text-decoration: none;
  cursor: pointer;
}

a.button:hover {
  background-color: #0b004d;
}

/* Leaderboard Table Styling */
table.leaderboard {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.8);
  color: aliceblue;
  border-radius: 10px;
  overflow: hidden;
}

table.leaderboard th, table.leaderboard td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ffffff;
  width:50%;
}

table.leaderboard th {
  background-color: #000322;
  font-size: 1.2em;
}

table.leaderboard tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

table.leaderboard tr:hover {
  background-color: #0b004d;
}

table.leaderboard td {
  font-size: 1em;
}