@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Poppins', serif;
}

body {
  background: radial-gradient(circle, rgb(75, 81, 165), rgb(9, 3, 92));
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: #303030;
  justify-content: center;
}

.container {
  padding: 0 15px; /* Remove padding from container */
  margin: 0; /* Remove margin from container */
}


.form-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  width: 100%;
  max-width: 500px;
}

.form-box.active {
  display: block;
}

h2 {
  font-size: 34px;
  color: #303030;
  margin-bottom: 20px;

}

input,
select {
  width: 100%;
  padding: 12px;
  background: #eee;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size:16px;
  color: #333;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 12px;
  background: #7494ec;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size:16px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
  transition: 0.5s;
}

button:hover {
  background: #5563c1;

}

p {
  font-size: 14.5px;
  text-align: center;
  margin-bottom: 10px;
}

p a {
  color: #09277c;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

.error-message{
  padding:12px;
  background: #ce4651b9;
  border-radius: 6px;
  font-size: 16px;
  color: #000000;
  text-align : center;
  margin-bottom: 20px;
}

